

<app-header> </app-header>

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<script>

jQuery(function ($) {

$(".sidebar-dropdown > a").click(function() {
$(".sidebar-submenu").slideUp(200);
if (
$(this)
  .parent()
  .hasClass("active")
) {
$(".sidebar-dropdown").removeClass("active");
$(this)
  .parent()
  .removeClass("active");
} else {
$(".sidebar-dropdown").removeClass("active");
$(this)
  .next(".sidebar-submenu")
  .slideDown(200);
$(this)
  .parent()
  .addClass("active");
}
});

$("#close-sidebar").click(function() {
$(".page-wrapper").removeClass("toggled");
});
$("#show-sidebar").click(function() {
$(".page-wrapper").addClass("toggled");
});




});
  </script>
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <!-- <a href="#">pro sidebar</a> -->
        <div id="close-sidebar">
          <!-- <i class="fas fa-times"></i> -->
        </div>
      </div>
      <!-- <div class="sidebar-header"> -->
        <!-- <div class="user-pic"> -->
          <!-- <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" -->
            <!-- alt="User picture"> -->
        <!-- </div> -->
        <!-- <div class="user-info"> -->
           <span class="user-name">
            <h2><strong>Aayush</strong></h2>
          </span>
         <!-- <span class="user-role">Administrator</span> --> -->
         <!-- <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div> -->
      <!-- sidebar-header  -->
      <!-- <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div> -->
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span><strong>Dashboard</strong></span>
          </li>
          <li class="sidebar-dropdown">
             <a href="#"> 
            <!--  <i class="fa fa-tachometer-alt"></i> -->
              <span><strong>Dashboard</strong></span>
             
            </a>
            
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <!-- <i class="fa fa-shopping-cart"></i> -->
              <span><strong>Settings</strong></span>
              <!-- <span class="badge badge-pill badge-danger">3</span> -->
            </a>
            
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <!-- <i class="far fa-gem"></i> -->
              <span><strong>View Passbook</strong></span>
            </a>
            <div class="sidebar-submenu">
              
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <!-- <i class="fa fa-chart-line"></i> -->
              <span><strong>Send Money</strong></span>
            </a>
            <div class="sidebar-submenu">
              
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <!-- <i class="fa fa-globe"></i> -->
              <span><strong>Cheque status</strong></span>
            </a>
            <div class="sidebar-dropdown">
             
            </div>
          </li>
          <li class="sidebar-dropdown">
              <a href="#">
            <span><strong>Account Summary</strong></span>
            </a>
          </li>
          
          
          <li>
            <a href="#">
              <!-- <i class="fa fa-folder"></i> -->
              <span><strong>Logout</strong></span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
     
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  